# Environment
.env

# Flask session data
flask_session/

# Python
__pycache__/
*.py[cod]

# SQLite (if still around)
*.db

# Migrations (optional if regenerating)
migrations/

# VS Code settings
.vscode/

# Node
client/node_modules/
client/package-lock.json

# OS
.DS_Store
